# Discrete Data Summarization - 2

## Our function "personal_bests()" is written in "personal_bests.py" file and imported here. The returned dataframe is shown here and stored in the output file named "E2_Q2.csv".

In [1]:
import pandas as pd
import personal_bests as pb

In [2]:
df = pd.read_csv('workouts.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6159 entries, 0 to 6158
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    6159 non-null   object
 1   exer    6159 non-null   object
 2   weight  6159 non-null   float64
 3   reps    6159 non-null   int64
 4   sets    6159 non-null   int64
dtypes: float64(1), int64(2), object(2)
memory usage: 240.7+ KB

In [3]:
final_df = pb.personal_bests(df)
final_df

              exer  weight  reps
0               SQ   400.0     3
1               SQ   390.0     4
2               SQ   385.0     5
3               SQ   310.0     8
4               SQ   275.0    10
5               SQ   265.0    20
6               DL   500.0     5
7               DL   375.0     7
8               DL   365.0    10
9            PRESS   140.0     3
10           PRESS   135.0     5
11           PRESS   117.0    10
12           CLEAN   135.0     5
13          PULLUP    55.0     5
14          PULLUP    10.0    10
15          PULLUP     0.0    14
16             C&J   100.0     5
17              BP   220.0     1
18              BP   215.0     5
19              BP   195.0     8
20              BP   180.0    10
21              BP   140.0    20
22          SNATCH    85.0     5
23            SUMO   435.0     3
24            SUMO   425.0     5
25            SUMO   115.0     6
26             ROW   225.0    10
27             DBP    50.0    10
28  TRICEPPUSHDOWN    80.0    20
29             FLY    25.0    10
30         HIGHROW    70.0    30
31       HANGCLEAN   135.0     5
32             LTE   100.0     5
33             LTE    95.0    10
34             RDL   275.0     8
35             RDL   220.0    10
36             DIP     0.0    25
37             FSQ   200.0     5
38             SSB   275.0     5
39             SSB   255.0    10
40             SSB   245.0    20
41           BOXSQ   215.0    20

In [4]:
final_df.to_csv('E2_Q2.csv', index=False)