# Discrete Data Summarization - 1

## The output of this simple script is shown below. It is also written into an output file named "E2_Q1.csv".

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('workouts.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6159 entries, 0 to 6158
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    6159 non-null   object
 1   exer    6159 non-null   object
 2   weight  6159 non-null   float64
 3   reps    6159 non-null   int64
 4   sets    6159 non-null   int64
dtypes: float64(1), int64(2), object(2)
memory usage: 240.7+ KB

In [3]:
groups = df.groupby(['date', 'exer'], sort = False)
groups

In [4]:
final_df = pd.DataFrame()

for date, group_df in groups:
    curr_date = group_df['date'].max()
    curr_exer = group_df['exer'].max()
    curr_weight = group_df['weight'].max()
    tmp_df = df.loc[(df['date'] == curr_date) & (df['exer'] == curr_exer) & (df['weight'] == curr_weight)]
    final_df = pd.concat([final_df, tmp_df])

final_df

            date   exer  weight  reps  sets
4     12/31/2016     SQ   100.0     5     1
8     12/31/2016     DL   135.0     5     2
12    12/31/2016  PRESS    75.0     5     2
17      1/3/2017     SQ   110.0     5     1
20      1/3/2017  PRESS    75.0     5     2
...          ...    ...     ...   ...   ...
6147   9/22/2022     BP   180.0    10     5
6149   9/22/2022    LTE    90.0    10     5
6156   9/25/2022     DL   500.0     5     1
6157   9/25/2022     DL   500.0     2     1
6158   9/25/2022     DL   500.0     3     1

[1782 rows x 5 columns]

In [5]:
final_df.to_csv('E2_Q1.csv', index=False)